@model List<TiendaVirtualDelgado.Models.Usuario>

<h2>LIsta de Usuarios</h2>

<a class="btn btn-success mb-3" href="/Producto/Create">+ Nuevo usuario</a>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Celular</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Nombre</td>
                <td>@u.Correo</td>
                <td>@u.Rol</td>
                <td>@u.Celular</td>
                <td>

                    <a class="btn btn-warning href="/Usuario/Edit/@u.Id">Editar</a>
                    <a class="btn btn-danger href="/Usuario/Delete/@u.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>   
</table>