
@model IEnumerable<TiendaVirtualDelgado.Models.Categoria>

<h2>Lista de Categorias</h2>

<a class="btn btn-success mb-3" href="/Categoria/Create">+ Nueva Categoria</a>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Nombre</td>
                <td>@c.Descripcion</td> 
                <td>@c.Estado</td>
                <td>
                    <a class="btn btn-warning" href="/Categoria/Edit/@c.Id">Editar</a>
                    <a class="btn btn-danger" href="/Categoria/Delete/@c.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>